src/main/resources/META-INF/com.stone.db.proxy.config/stone-cachez.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://localhost:8086/schema/cachez/stone-cachez.xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://localhost:8086/schema/cachez/stone-cachez.xsd"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:annotation>
        <xsd:documentation><![CDATA[
	        Defines the configuration elements for the Stone cachez support.
		]]></xsd:documentation>
    </xsd:annotation>
    <xsd:element name="config">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
	        Defines the configuration elements for the Stone cachez configuration (including
	        aspects, pointcuts, etc).
		]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="manager" type="managerType" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="managerType">

    </xsd:complexType>
</xsd:schema>